.todo {
  height: 100%;
  text-align: center;
}

.todo__header {
  color: #61dafb;
  font-size: 2em;
}

.todo__content {
  padding: 50px;
}

.todo__items {
  margin: 20px auto 0;
  max-width: 450px;
}

.todo__item {
  margin-bottom: 20px;
}
